

body {
	width: 50%;
	margin-left: 20%;
	background: #7f8c8d;
}

* {
	line-height: 1.5em;
}

a {
	text-decoration: none;
	color: #d35400;
}
.top {
	margin-top: 20px;
	color: white;
	background: #2ecc71;
	padding: 150px 10px 0px 10px;
	border-bottom: #27ae60 10px solid;
	font-weight: bold;
	font-size: 1.5em;
	min-width: 400px;
	max-width: 900px;
}
.navbar {
	width: 50%;
	background: #34495e;
	border-bottom: #2c3e50 10px solid;
	padding: 0;
	min-width: 400px;
	max-width: 900px;

	position: absolute;
}

.navbar ul {
	float: right;
}
.nav li {
	background: #34495e;
	display: inline-block;
	list-style: none;
	text-transform: uppercase;
	padding: 0 20px 0 0;
	color: white;
}

.sidebar {
	position: fixed;
	bottom: 100px;
	right: 100px;
	background: #ecf0f1;
	padding: 10px;
	width: 200px;
	border-bottom: #2c3e50 10px solid;
}
.sidebar ul {
	margin-top: -10px;
}
.sidebar li {
	color: gray;
	list-style: none;
	margin-left: -20px;
}

.content {
	margin-top: 65px;
	width: 50%;
	position: absolute;
	background: #ecf0f1;
	min-width: 400px;
	max-width: 900px;

}

.content h2 {
	padding: 20px;
}

.content h3 {
	border-bottom: #7f8c8d solid 1px;
	padding: 10px;
	margin: 0 20px 20px 20px;
}

.content p {
	margin: 0 50px 20px 50px;
}

.content table {
	margin: 0 20px 20px 20px;
	border: 1px solid gray;
	border-collapse: collapse;
}

.content table th, .content table td {
	border: 1px solid gray;
	padding: 8px;
}

.content table th {
	text-align: left;
	background: #bdc3c7;
	font-weight: bold;	
}

button {
	padding: 5px 25px 5px 25px;
	color: white;
	background: #3498db;
	border-style: none;
}

.codebox, img.placeholder {
	color: #2c3e50;
	background: #bdc3c7;
	padding: 25px 50px 25px 50px;
	margin: 0 20px 20px 20px;
	width: 75%;
}

ol {
	padding-right: 30px;
}

ol li {
	padding-bottom: 20px;
}

p.author {
	color: #7f8c8d;
}

h5 span {
	text-transform: uppercase;
	color: #7f8c8d;
	background: #ecf0f1;
	padding: 0 20px;
	margin-left: 50px;
}

h5+* {
	border-top: solid 1px #7f8c8d;
	padding: 10px 20px 20px 20px;
	margin: -30px 30px 20px 30px;
}

.commentUser div {
	display: block;
	text-align: right;
}
.commentUser input {
	width: 60%;
	margin: 5px 30px 5px 5px;
	border: 1px solid gray;
}

.commentInput {
	padding: 25px 50px 25px 50px;
	margin: 0 20px 20px 20px;
	width: 75%;

}

.comments button {
	background: #c0392b;
	padding: 10px 0 10px 0;
	margin: 0 20px 20px 20px;
	width: 93%;
}
.comments img {
	float: left;
	overflow: hidden;
	padding: 10px;
	margin: 10px 10px 10px 40px;
}

.comments strong, .comments time {
	display: block;

}

.comments time {
	font-style: italic;
	color: gray;
}
.comment {
	margin: 25px 25px 25px 0px;
	display: inline-block;
	clear: left;

}

.reply {
	margin: 0 0 0 10%;
	border-left: solid 2px gray;
	padding: -20px;
}

.comment p {
	display: block;
	clear: left;
}

.comment div {
	margin-top: 20px;
}